{% extends "authBase.html" %}
{% block title %} Sign Up {% endblock %}
{% block content %}
<div class="header">
    <span>EMERALD</span>
</div>
<div class="form" id="form1">
    <h2>Sign Up</h2>
    <form id="register-form" class="frm" method="POST">
        <div class="name">
            <label for="name">Username</label>
            <input type="text" name="name" id="name">
        </div>

        <div class="lastname">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname">
        </div>

        <div class="age">
            <label for="lastname">Date of Birth</label>
            <input type="date" name="age" id="age">
        </div>

       <div class="age">
        <label for="gender">Gender</label>
        
        <div class="radio-buttons">
            <div class="form-group">
              <input type="radio" id="male" name="gender" />
              <label for="male" class="s">Male</label>
            </div>
            <div class="form-group">
              <input type="radio" id="female" name="gender" />
              <label for="female" class="s">Female</label>
            </div>
          </div>
       </div>

        <div class="email">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>

        <div class="password">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="sign">
            <button type="button" id="nextButton1" class="submit">Next</button>
        </div>
        <div class="link">
            <p>Do you have an account? <a href="/login">Sign In</a></p>
        </div>
    </form>
</div>

<div class="form" id="form2" style="display: none;">
    <h2>Categories</h2>
    <div class="categs">
        <fieldset class="checkbox-group">
            <legend class="checkbox-group-legend">Fields of Interest</legend>
            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="checkbox" name="interests" class="checkbox-input" value="internet"/>
                    <span class="checkbox-tile">
                        <span class="checkbox-label">Internet</span>
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="checkbox" name="interests" class="checkbox-input" value="women"/>
                    <span class="checkbox-tile">
                        <span class="checkbox-label">Women</span>
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="checkbox" name="interests" class="checkbox-input" value="simulation"/>
                    <span class="checkbox-tile">
                        <span class="checkbox-label">Simulation</span>
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="checkbox" name="interests" class="checkbox-input" value="medical diagnostic imaging"/>
                    <span class="checkbox-tile">
                        <span class="checkbox-label">Medical Diagnostic</span>
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="checkbox" name="interests" class="checkbox-input" value="information technology"/>
                    <span class="checkbox-tile">
                        <span class="checkbox-label">Information Technology</span>
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="checkbox" name="interests" class="checkbox-input" value="artificial intelligence"/>
                    <span class="checkbox-tile">
                        <span class="checkbox-label">Artificial Intelligence</span>
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="checkbox" name="interests" class="checkbox-input" value="information systems"/>
                    <span class="checkbox-tile">
                        <span class="checkbox-label">Information Systems</span>
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="checkbox" name="interests" class="checkbox-input" value="computer science"/>
                    <span class="checkbox-tile">
                        <span class="checkbox-label">Computer Science</span>
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="checkbox" name="interests" class="checkbox-input" value="robustness"/>
                    <span class="checkbox-tile">
                        <span class="checkbox-label">Robustness</span>
                    </span>
                </label>
            </div>
        </fieldset>
    </div>
    <div class="sign">
        <span id="back"><i class='bx bx-arrow-back'></i></span>
        <button type="button" id="signup" class="submit">Sign Up</button>
        <div id="error-message" class="error-message" style="display: none;"></div>
    </div>
</div>

<script>
    document.getElementById("signup").addEventListener("click", function() {
        var selectedInterests = [];
        var checkboxes = document.querySelectorAll('input[name="interests"]:checked');
        checkboxes.forEach(function(checkbox) {
            selectedInterests.push(checkbox.value);
        });

        if (selectedInterests.length === 0) {
            document.getElementById('error-message').innerText = 'Please select at least one interest.';
            document.getElementById('error-message').style.display = 'block';
            return;
        }

        const formData = new FormData(document.getElementById('register-form'));
        formData.set("interests", selectedInterests.join(","));

        fetch('/register', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                document.getElementById('error-message').innerText = data.error;
                document.getElementById('error-message').style.display = 'block';
            } else {
                window.location.href = '/login';
            }
        })
        .catch(error => console.error('Error:', error));
    });

    document.getElementById('nextButton1').addEventListener('click', function() {
        document.getElementById('form1').style.display = 'none';
        document.getElementById('form2').style.display = 'block';
    });

    document.getElementById('back').addEventListener('click', function() {
        document.getElementById('form2').style.display = 'none';
        document.getElementById('form1').style.display = 'block';
    });
</script>

<style>
    .error-message {
        color: red;
        font-weight: bold;
        margin-bottom: 10px;
    }
</style>
{% endblock %}
