<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Emerald |  {% endblock %}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>

    <div class="grad">
        <div class="wrap">
            {%block content%}{% endblock %}
        </div>

</div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>