{% base "base.html" %}

{%block title%} Favorites {% endblock %}

{% block content %}
<div class="favorites">
    <div class="articles">
        <h4>Liked Articles</h4>
        <div class="liked1">
            <h5>Title 1</h5>
            <p>Keywords</p>
        </div>
        <div class="liked2">
            <h5>Title 2</h5>
            <p>Keywords</p>
        </div>
        <div class="liked3">
            <h5>Title 3</h5>
            <p>Keywords</p>
        </div>
        <div class="liked4">
            <h5>Title 4</h5>
            <p>Keywords</p>
        </div>
        <div class="liked5">
            <h5>Title 5</h5>
            <p>Keywords</p>
        </div>
        <div class="liked6">
            <h5>Title 6</h5>
            <p>Keywords</p>
        </div>
        <div class="liked7">
            <h5>Title 7</h5>
            <p>Keywords</p>
        </div>
        <div class="liked8">
            <h5>Title 8</h5>
            <p>Keywords</p>
        </div>
        <div class="liked9">
            <h5>Title 9</h5>
            <p>Keywords</p>
        </div>
        <div class="liked10">
            <h5>Title 10</h5>
            <p>Keywords</p>
        </div>
        <div class="liked11">
            <h5>Title 11</h5>
            <p>Keywords</p>
        </div>
        <div class="liked12">
            <h5>Title 12</h5>
            <p>Keywords</p>
        </div>
        <div class="liked13">
            <h5>Title 13</h5>
            <p>Keywords</p>
        </div>
        <div class="liked14">
            <h5>Title 14</h5>
            <p>Keywords</p>
        </div>
        <div class="liked15">
            <h5>Title 15</h5>
            <p>Keywords</p>
        </div>
    </div>
</div>

{% endblock %}